{% extends "base.html.twig" %}

{% block stylesheets %}

<link rel="stylesheet" href="{{ asset('Css/contact.css') }}">
{% endblock stylesheets %}

{% block body %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
<div class="text-light offset-3 my-5 col-xl-5 col-lg-5 col-sm-8 col-md-9 col-10 ">
    <p class="fs-2">Add a new skill</p>
    {{ form_start(form, {"attr": {"novalidate": "novalidate"}}) }}

    <div class="mb-3 ">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'name form-control text-light fw-bold border-0', 'style':
        'background:
        #1F2937; width:70% ' }}) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.mastery) }}
        {{ form_widget(form.mastery, {'attr': {'class': 'name form-control text-light fw-bold border-0', 'style':
        'background: #1F2937; width:70%' }}) }}
    </div>

    <button class="btn btn-outline-warning" type="submit">Add a skill</button>

    {{ form_end(form) }}
</div>
{% else %}
<p class="fs-2 text-warning offset-3 my-5">You need to login for this content</p>
<a href="/login" class="btn btn-warning">Login</a>
{% endif %}
{% endblock body %}